[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui/
[submodule "tools/Sen-no-Kiseki-PKG-Tool"]
	path = tools/Sen-no-Kiseki-PKG-Tool
	url = https://github.com/sewer56lol/Sen-no-Kiseki-PKG-Tool
